

body {
  background-color: #5995DA;
  color: #333;
  margin: 0;
  font: 1.2em / 1.2 Arial, Helvetica, sans-serif;
  }

img {
    max-width: 100%;
    display: block;
    float: left;
}

.logo {
  font-size: 200%;
  padding: 50px 20px;
  margin: 0 auto;
  max-width: 980px;
}

.grid {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 980px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  border: 1px solid #fff;
}

nav {
  background-color: #000;
  width: 100;
  padding: .5em;
  display: flex;
  border: 1px solid #fff;
  position: sticky;
  top: 0px;
}

nav ul {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  border: 1px solid #fff;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: .5em 1em;
}

.photos {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1px;
}

.feature {
  width: 200px;
  padding-right: 1.5em;
}

article,
aside {
  border: 1px solid #fff;
}
